 header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foto {
  height: 200px; /* Altura desejada */
  width: 200px; /* Largura ajustada automaticamente */
  border-radius: 50%;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  background: none;
}

.information p {
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.information p::before {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 5px;
  margin-right: 1rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.information .job {
  display: inline-block;
  background-image: url("/assets/imagens/incons/job.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.information .location {
  display: inline-block;
  background-image: url("/assets/imagens/incons/location.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.information .phone {
  display: inline-block;
  background-image: url("/assets/imagens/incons/phone.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.information .email {
  display: inline-block;
  background-image: url("/assets/imagens/incons/email.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

header h1 {
  background: none;
}
